{% extends "admin/change_form.html" %}

{% block extrahead %}
    {{ block.super }}
    {% if original %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const submitRow = document.querySelector(".submit-row");
            if (submitRow) {
                const customButton = document.createElement("input");
                customButton.type = "submit";
                customButton.value = "Download config";
                customButton.onclick = function (event) {
                    event.preventDefault();
                    window.location.href = "{% url 'download-peer-conf' original.id %}";
                };

                const saveButton = submitRow.querySelector(".submit-row > input:nth-child(3)");

                if (saveButton) {
                    submitRow.insertBefore(customButton, saveButton.nextSibling);
                }
            }
        });
        console.log("ID do objeto: {{ original.id }}");
        console.log("Nome do objeto: {{ original.name }}");
    </script>
    {% endif %}
{% endblock %}
