{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}

    <div id="model-data-utils" data-url="{% url 'download-peer-conf' original.id %}"></div>

    {{ block.super }}

    <button type="button" class="btn-open-modal">aaaaaaa</button>

    <!-- Modal -->
    <div id="custom-modal" class="modal">
        <div class="modal-content">
            <span class="modal-close">&times;</span>
            <h2>Detalhes do Objeto</h2>
            <div class="modal-body"></div>
        </div>
    </div>



{% endblock %}
