{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code WireGuard</title>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
</head>
<body>
    <h2>QR Code WireGuard</h2>
    <div id="qrcode"></div>

    <script>
        const wireGuardConfig = `
[Interface]
Address = 1.1.1.2
PrivateKey = MvWgvrgrvDwLSFk7kVBwcsb/DsOIJx8e9mRUN+X9i2Y=
ListenPort = 51820

[Peer]
PublicKey = rT8Z4KP4fdgbMmPZDIQEoNk9mt0F36mMN4BsjnOMckk=
PresharedKey = k0OEOyRNJ9E9lpdot4GzJT2j87iI5VmQaHv5JNuzJ4Y=
Endpoint = 152.231.25.14:51820
AllowedIPs = 1.1.1.2/32, 1.1.1.1/32
PersistentKeepalive = 25

        `;

        new QRCode(document.getElementById("qrcode"), {
            text: wireGuardConfig,
            width: 256,
            height: 256
        });
    </script>
</body>
</html>
